---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300";
---

<ul class="menu grow shrink menu-md overflow-y-auto w-full">
    <li><a class="py-3 text-base w-full {sideBarActiveItemID === 'home' ? activeClass : ''}" href="/omaromp2AstroPage/">Home</a></li>
    <li><a class="py-3 text-base w-full {sideBarActiveItemID === 'blog' ? activeClass : ''}" href="/omaromp2AstroPage/blog/">Blog</a></li>
    <li><a class="py-3 text-base w-full {sideBarActiveItemID === 'cv' ? activeClass : ''}" href="/omaromp2AstroPage/cv">CV</a></li>
    <li>
        <a
            class="py-3 text-base w-full"
            href="mailto:omargponce@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li>
</ul>
